<p id="notice"><%= notice %></p>

<div class="span3">
	<p>
	  <b>Name:</b>
	  <%= @tablet.name %>
	</p>

	<p>
	  <b>Name2:</b>
	  <%= @tablet.name2 %>
	</p>

	<p>
	  <b>Name3:</b>
	  <%= @tablet.name3 %>
	</p>

	<p>
	  <b>Width:</b>
	  <%= @tablet.width %>
	</p>

	<p>
	  <b>Height:</b>
	  <%= @tablet.height %>
	</p>

	<p>
	  <b>Thickmax:</b>
	  <%= @tablet.thickmax %>
	</p>

	<p>
	  <b>Thickmin:</b>
	  <%= @tablet.thickmin %>
	</p>

	<p>
	  <b>Bezelwidth:</b>
	  <%= @tablet.bezelwidth %>
	</p>

	<p>
	  <b>Bezelheight:</b>
	  <%= @tablet.bezelheight %>
	</p>

	<p>
	  <b>Ppi:</b>
	  <%= @tablet.ppi %>
	</p>

	<p>
	  <b>Reshor:</b>
	  <%= @tablet.reshor %>
	</p>

	<p>
	  <b>Resver:</b>
	  <%= @tablet.resver %>
	</p>
</div>

<div class="span7">
	<p>
		<img src="<%= @tablet.frontpic[6, @tablet.frontpic.length] %>"/>
	</p>
</div>

<%= link_to 'Edit', edit_tablet_path(@tablet) %> |
<%= link_to 'Back', tablets_path %>
